@model RegisterViewModel

@{
    Layout = null;
    ViewData["Title"] =PageTitles.Register;
    CultureSetter.SetCulture("fa-IR");
    var currentCulture =
    System.Threading.Thread.CurrentThread.CurrentCulture.Name;
}

<html lang="@currentCulture">
<head>
    <partial name="PartialViews/_Styles"></partial>
</head>
<body>
    <div class="page-wrapper">
        <partial name="PartialViews/_RegisterAndLoginHeader"></partial>
        <main class="page-content page-auth">

            <div class="auth-container">
                <div class="auth-title mb-3">@PageTitles.PasswordGeneration</div>

                <div class="auth-box ui-box">
                    <form method="post" class="auth-form">

                        <div class="form-element-row mb-5">
                            <input asp-for="Password" type="password" class="form-control" placeholder="@DataDictionaries.Password">
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-element-row mb-5">
                            <input asp-for="RePassword" type="password" class="form-control" placeholder="@DataDictionaries.RepeatPassword">
                            <span asp-validation-for="RePassword" class="text-danger"></span>
                        </div>

                        <div class="form-element-row mb-3">
                            <button class="btn btn-primary">@ButtonCaptions.Register</button>
                        </div>

                    </form>

                </div>

            </div>

        </main>
        <partial name="PartialViews/_RegisterAndLoginFooter"></partial>
    </div>
    <partial name="PartialViews/_Scripts"></partial>
</body>
</html>