@page "{handler?}"
@model DigiKala.Pages.UserPanel.UserInformationsModel
@{
    ViewData["Title"] = PageTitles.UserInformations;
}

<main class="page-content">
    <div class="container">
        <div class="row mb-5">

            <partial name="PartialViews/_UserPanelSideBar"></partial>

            <div class="col-xl-9 col-lg-8 col-md-7">
                <div class="alert alert-warning alert-dismissible fade show mb-5" role="alert">
                    <div>
                        سفارش شما در انتظار پرداخت است. برای جلوگیری از لغو سفارش، لطفا پرداخت را انجام دهید.
                        <a href="#" class="btn btn-sm btn-primary mx-3">سفارش های من</a>
                    </div>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <div class="ui-box bg-white mb-5">
                    <div class="ui-box-title">اطلاعات شخصی</div>
                    <div class="ui-box-content">
                        <div class="row">
                            <div class="col-lg-6 mb-3">
                                <div class="border-bottom py-2">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div class="fs-7 fw-bold text-dark">@DataDictionaries.FullName</div>
                                        <button class="btn btn-circle btn-outline-light" data-remodal-target="personal-info-fullname-modal"><i class="ri-ball-pen-fill"></i></button>
                                    </div>
                                    <div id="nameInp" class="fs-6 fw-bold text-muted">@(Model.UserInformationsVM.FirstName +" "+ Model.UserInformationsVM.LastName)</div>
                                </div>
                            </div>
                            <div class="col-lg-6 mb-3">
                                <div class="border-bottom py-2">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div class="fs-7 fw-bold text-dark">@DataDictionaries.NationalNumber</div>
                                        <button class="btn btn-circle btn-outline-light" data-remodal-target="personal-info-national-id-modal"><i class="ri-ball-pen-fill"></i></button>
                                    </div>
                                    <div id="nationalNumberInp" class="fs-6 fw-bold text-muted">@(Model.UserInformationsVM.NationalNumber)</div>
                                </div>
                            </div>
                            <div class="col-lg-6 mb-3">
                                <div class="border-bottom py-2">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div class="fs-7 fw-bold text-dark">شماره تلفن همراه</div>
                                        <button class="btn btn-circle btn-outline-light" data-remodal-target="personal-info-phone-number-modal"><i class="ri-ball-pen-fill"></i></button>
                                    </div>
                                    @if (Model.UserInformationsVM.PhoneNumber == "")
                                    {
                                        <div class="fs-6 fw-bold text-muted">09xxxxxxxxx</div>
                                    }
                                    else
                                    {
                                        <div class="fs-6 fw-bold text-muted">@(Model.UserInformationsVM.PhoneNumber)</div>
                                    }

                                </div>
                            </div>
                            <div class="col-lg-6 mb-3">
                                <div class="border-bottom py-2">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div class="fs-7 fw-bold text-dark">پست الکترونیک</div>
                                        <button class="btn btn-circle btn-outline-light" data-remodal-target="personal-info-email-modal"><i class="ri-ball-pen-fill"></i></button>
                                    </div>
                                    @if (Model.UserInformationsVM.Email == "")
                                    {
                                        <div class="fs-6 fw-bold text-muted">example@example.com</div>
                                    }
                                    else
                                    {
                                        <div class="fs-6 fw-bold text-muted">@(Model.UserInformationsVM.Email)</div>
                                    }

                                </div>
                            </div>
                            <div class="col-lg-6 mb-3">
                                <div class="border-bottom py-2">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div class="fs-7 fw-bold text-dark">تاریخ تولد</div>
                                        <button class="btn btn-circle btn-outline-light" data-remodal-target="personal-info-birth-modal"><i class="ri-ball-pen-fill"></i></button>
                                    </div>
                                    <div class="fs-6 fw-bold text-muted">@Model.UserInformationsVM.BirthDate?.ToShamsi()</div>
                                </div>
                            </div>
                            @*<div class="col-lg-6 mb-3">
                                <div class="border-bottom py-2">
                                <div class="d-flex align-items-center justify-content-between">
                                <div class="fs-7 fw-bold text-dark">روش بازگرداندن وجه</div>
                                <button class="btn btn-circle btn-outline-light" data-remodal-target="personal-info-returned-modal"><i class="ri-ball-pen-fill"></i></button>
                                </div>
                                <div class="fs-6 fw-bold text-muted">-</div>
                                </div>
                                </div>*@
                            <div class="col-lg-6 mb-3">
                                <div class="border-bottom py-2">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div class="fs-7 fw-bold text-dark">رمز عبور</div>
                                        <button class="btn btn-circle btn-outline-light" data-remodal-target="personal-info-change-password-modal"><i class="ri-ball-pen-fill"></i></button>
                                    </div>
                                    <div class="fs-6 fw-bold text-muted">-</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="nameModal" class="remodal remodal-xs" data-remodal-id="personal-info-fullname-modal" data-remodal-options="hashTracking: false">
        <div class="remodal-header">
            <div class="remodal-title">@DataDictionaries.FullName</div>
            <button data-remodal-action="close" class="remodal-close"></button>
        </div>
        <form method="post" asp-page-handler="ConfirmUserInformations">
            <div id="" class="remodal-content">
                <div class="form-element-row mb-3">
                    <label class="label fs-7">@DataDictionaries.FirstName</label>
                    <input asp-for="UserFullNameVM.FirstName" type="text" value="@Model.UserInformationsVM.FirstName" class="form-control" placeholder="">
                    <span asp-validation-for="UserFullNameVM.FirstName" class="text-danger"></span>
                </div>
                <div class="form-element-row">
                    <label class="label fs-7">@DataDictionaries.LastName</label>
                    <input asp-for="UserFullNameVM.LastName" type="text" value="@Model.UserInformationsVM.LastName" class="form-control" placeholder="">
                    <span asp-validation-for="UserFullNameVM.LastName" class="text-danger"></span>
                </div>
            </div>
            <div class="remodal-footer">
                <button id="btnName" class="btn btn-sm btn-primary px-3">@ButtonCaptions.SaveInformations</button>
            </div>
        </form>
    </div>
    <!--  personal-info-fullname-modal -->
    <!-- personal-info-national-id-modal -->
    <div id="nationalnumberModal" class="remodal remodal-xs" data-remodal-id="personal-info-national-id-modal"
         data-remodal-options="hashTracking: false">
        <div class="remodal-header">
            <div class="remodal-title">@DataDictionaries.NationalNumber</div>
            <button data-remodal-action="close" class="remodal-close"></button>
        </div>
        <form method="post" asp-page-handler="ConfirmUserNationalNumber">
            <div class="remodal-content">
                <div class="form-element-row mb-3">
                    <input asp-for="UserNationalNumberVM.NationalNumber" type="number" value="@Model.UserInformationsVM.NationalNumber" class="form-control" placeholder="">
                    <span asp-validation-for="UserNationalNumberVM.NationalNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="remodal-footer">
                <button id="btnNationalNumber" class="btn btn-sm btn-primary px-3">@ButtonCaptions.SaveInformations</button>
            </div>
        </form>
    </div>
    <!--  personal-info-national-id-modal -->
    <!-- personal-info-phone-number-modal -->
    <div class="remodal remodal-xs" data-remodal-id="personal-info-phone-number-modal"
         data-remodal-options="hashTracking: false">
        <div class="remodal-header">
            <div class="remodal-title">شماره موبایل</div>
            <button data-remodal-action="close" class="remodal-close"></button>
        </div>
        <form method="post" asp-page-handler="ConfirmUserInformations">
            <div class="remodal-content">
                <div class="form-element-row mb-3">
                    <input asp-for="UserPhoneNumberVM.PhoneNumber" type="number" value="@Model.UserInformationsVM.PhoneNumber" class="form-control" placeholder="">
                    <span asp-validation-for="UserPhoneNumberVM.PhoneNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="remodal-footer">
                <button class="btn btn-sm btn-primary px-3">دریافت کد تایید و تغییر شماره</button>
            </div>
        </form>
    </div>
    <!--  personal-info-phone-number-modal -->
    <!-- personal-info-email-modal -->
    <div class="remodal remodal-xs" data-remodal-id="personal-info-email-modal"
         data-remodal-options="hashTracking: false">
        <div class="remodal-header">
            <div class="remodal-title">ایمیل</div>
            <button data-remodal-action="close" class="remodal-close"></button>
        </div>
        <form method="post" asp-page-handler="ConfirmUserInformations">
            <div class="remodal-content">
                <div class="form-element-row mb-3">
                    <input asp-for="UserEmailVM.Email" type="text" value="@Model.UserInformationsVM.Email" class="form-control" placeholder="">
                    <span asp-validation-for="UserEmailVM.Email" class="text-danger"></span>
                </div>
            </div>
            <div class="remodal-footer">
                <button class="btn btn-sm btn-primary px-3">تایید</button>
            </div>
        </form>
    </div>
    <!--  personal-info-email-modal -->
    <!-- personal-info-birth-modal -->
    <div class="remodal remodal-xs" data-remodal-id="personal-info-birth-modal"
         data-remodal-options="hashTracking: false">
        <div class="remodal-header">
            <div class="remodal-title">تولد</div>
            <button data-remodal-action="close" class="remodal-close"></button>
        </div>
        <form method="post" asp-page-handler="ConfirmUserInformations">
            <div class="remodal-content">
                <div class="row">
                    <div class="col-4">
                        <div class="form-element-row">
                            <label class="label fs-7">سال</label>
                            <input asp-for="UserBirthDateVM.BirthYear" type="number" class="form-control" placeholder="">
                            <span asp-validation-for="UserBirthDateVM.BirthYear" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-element-row">
                            <label class="label fs-7">ماه</label>
                            <select class="select2" asp-for="UserBirthDateVM.BirthMonth" id="month">
                                <option value="01">فروردین</option>
                                <option value="02">اردیبهشت</option>
                                <option value="03">خرداد</option>
                                <option value="04">تیر</option>
                                <option value="05">مرداد</option>
                                <option value="06">شهریور</option>
                                <option value="07">مهر</option>
                                <option value="08">آبان</option>
                                <option value="09">آ‌ذر</option>
                                <option value="10">دی</option>
                                <option value="11">بهمن</option>
                                <option value="12">اسفند</option>
                            </select>
                            <span asp-validation-for="UserBirthDateVM.BirthMonth" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-element-row">
                            <label class="label fs-7">روز</label>
                            <input type="text" asp-for="UserBirthDateVM.BirthDay" class="form-control" placeholder="">
                            <span asp-validation-for="UserBirthDateVM.BirthDay" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="remodal-footer">
                <button class="btn btn-sm btn-primary px-3">ثبت تاریخ تولد</button>
            </div>
        </form>
    </div>
    <!--  personal-info-birth-modal -->
    <!-- personal-info-returned-modal -->
    @*<div class="remodal remodal-xs" data-remodal-id="personal-info-returned-modal" data-remodal-options="hashTracking: false">
        <div class="remodal-header">
        <button data-remodal-action="close" class="remodal-close"></button>
        </div>
        <div class="remodal-content">
        <div class="fs-7 fw-bold mb-4">
        لطفا روش بازگرداندن وجوه خود را انتخاب نمایید. همچنین برای کسب اطلاعات بیشتر لطفا ملاحظات بازگشت
        وجه را مطالعه نمایید.
        </div>
        <div class="custom-radio-outline">
        <input type="radio" class="custom-radio-outline-input" name="checkoutPayment"
        id="checkoutPayment01">
        <label for="checkoutPayment01" class="custom-radio-outline-label">
        <span class="label">
        <span class="icon"><i class="ri-secure-payment-fill"></i></span>
        <span class="detail">
        <span class="title">واریز به حساب بانکی</span>
        </span>
        </span>
        </label>
        </div>
        <div class="custom-radio-outline">
        <input type="radio" class="custom-radio-outline-input" name="checkoutPayment"
        id="checkoutPayment02">
        <label for="checkoutPayment02" class="custom-radio-outline-label">
        <span class="label">
        <span class="icon"><i class="ri-wallet-3-fill"></i></span>
        <span class="detail">
        <span class="title">واریز به کیف پول</span>
        </span>
        </span>
        </label>
        </div>
        </div>
        <div class="remodal-footer">
        <button class="btn btn-sm btn-primary px-3">ثبت</button>
        </div>
        </div>*@
    <!--  personal-info-returned-modal -->
    <!-- personal-info-change-password-modal -->
    <div  class="remodal remodal-xs" data-remodal-id="personal-info-change-password-modal"
         data-remodal-options="hashTracking: false">
        <div class="remodal-header">
            <div class="remodal-title">ویرایش رمز عبور</div>
            <button data-remodal-action="close" class="remodal-close"></button>
        </div>
        <form id="frmChangePassword" method="post" asp-page-handler="ChangeUserPassword">
            <div class="remodal-content">
                <div class="form-element-row mb-3">
                    <label class="label fs-7">رمز عبور فعلی</label>
                    <input id="currentPasswordInp" asp-for="UserPasswordVM.CurrentPassword" type="text" class="form-control" placeholder="">
                    <span asp-validation-for="UserPasswordVM.CurrentPassword" class="text-danger"></span>
                    <p style="display:none" id="currentPasswordValidation" class="text-danger">@ErrorMessages.EnterCurrentPasswordCorrectly</p>
                </div>
                <div class="form-element-row mb-3">
                    <label class="label fs-7">رمز عبور جدید</label>
                    <input asp-for="UserPasswordVM.NewPassword" type="text" class="form-control" placeholder="">
                    <span asp-validation-for="UserPasswordVM.NewPassword" class="text-danger"></span>
                </div>
                <div class="form-element-row mb-3">
                    <label class="label fs-7">تکرار رمز عبور جدید</label>
                    <input asp-for="UserPasswordVM.RepeatNewPassword" type="text" class="form-control" placeholder="">
                    <span asp-validation-for="UserPasswordVM.RepeatNewPassword" class="text-danger"></span>
                </div>
            </div>
        </form>
        <div class="remodal-footer">
            <button class="btn btn-sm btn-primary px-3">ثبت</button>
        </div>
    </div>
</main>
